/* Testing */
html, head, body {
    margin: 0;
    padding: 0;
}

#search-icon {
    display: block;
    position: absolute;
    opacity: 50%;
    top: 6px;
    left: 4px
}

.search {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    /* change .search display to this to get back in centre:
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    */
}



/* Syling for the body */
body {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.footer {
    position: absolute;
    bottom: 0;
    background-color: #f7f7f7;
    width: 100%; /* fixed issue of scroll bar appearing bottom by adding 0 margin + padding to html, head and body elements */
}

.footer-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: 14px;
    color: rgba(0,0,0,.54);
}

#push {
    margin-left: auto;
}

#about-link {
    margin-left: -30px;
}

#advertising-link {
    margin-left: -35px;
}

.aus-link {
    display: inline-block;
    margin-left: 20px;
    padding: 15px 0;
}

/* Nav bar styling (links + layout) */
.navbar {
    list-style-type: none;
    margin: 15px 15px 0px 15px;
    /* display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: flex-end; */
}

.nav-links {
    padding-top: 8px;
    float: left;
    color: #222;
    text-decoration: none;
    margin: 0.5em;
    vertical-align: middle;
    padding-right: 5px;
}

.nav-links-bottom {
    /* padding: 0px 30px 0px 30px; */
    text-decoration: none;
    margin: 0 1em;
    vertical-align: middle;
}

.link-pos {
    margin-top: 0px;
}

a {
    text-decoration: none;
    color: black;
}

/* a {
    vertical-align: middle;
} */

a:hover {
    text-decoration: underline;
}

.material-icons {
    font-size: 24px!important;
    color: #777;
    margin:5px 20px 0px 10px;
}

#images-link {
    margin-right: 10px;
}

#sign-in-btn {
    padding: 8px 24px;
    font-size: 14px;
    color: white;
    background-color: #1a73e8;
    border-radius: 3px;
    border: none;
}

#sign-in-btn:hover {
    background-color: #4185df;
}

/* Other styling */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#google-logo {
    margin-top: 17.5vh;
    margin-bottom: 1.5em;
}

#search-box {
    width: 575px;
    padding: 15px 5px;
    /* border-radius: 30px; */
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 30px;
    padding-left: 45px;
}

#search-box:focus {
    outline: none;
}

#subtext {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
}

.buttons {
    padding: 10px;
    display: flex;
    justify-content: center;
}

#google-search-btn {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: rgba(0,0,0,0.8);
    background-color: #f5f5f5;
    transition: all 200ms ease-out;
}

#google-search-btn:hover {
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

#feeling-lucky-btn {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: rgba(0,0,0,0.8);
    background-color: #f5f5f5;
    transition: all 200ms ease-out;
}

#feeling-lucky-btn:hover {
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}